/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.container{
  max-width: 600px;
  margin: 20px auto;
  font-weight: 500;
}
h3{
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  color: darkslategray;
}
.btn{
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
}
.green{
  background-color: #4caf50;
}
.btn.green:hover{
  background-color: #2b882f;
}

.red{
  background-color: #e0410d;
}
.btn.red:hover{
  background-color: #b12525;
}
.input-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
.input-search input{
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}
.table{
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}

.table th,
.table td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table th{
  background-color: #f2f2f2;
}

/* .table tr:nth-child(even){
  background-color: #f2f2f2;
} */
.table tr:hover{
  background-color: #f1f1f1;
}